$md: 768px;
$rad: .5em;
$clr-title: #4D61FC;
$clr-secondary: #3c8173;

body {
    font-size: 16px;
    background-color: #F4F5FA;
}

.container {
    max-width: 100%;
}

// header
.header {}

.bg-hero {
    position: relative;
    background:
        linear-gradient(-180deg, rgba(rgba(75, 144, 247, 0.795), 1) 0%, rgba(rgba(48, 92, 226, 0.822), .1) 120%),
        url('../img/header-2019.png') no-repeat scroll center bottom;
    background-size: cover;
    // box-shadow: inset 0 0 37.5em 1.25em rgba(0,0,0,0.9);
}
.bg-hero:after {
    content: " ";
    background: linear-gradient(-180deg, transparent 0%, rgba(#F4F5FA, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
}

.hero {
    .hero-title {
        font-family: "Circular Std Bold", sans-serif;
        color: #1f1f1f;
        text-transform: capitalize;
        letter-spacing: 2px;
        word-break: break-all;

        span {
            word-break: break-all;
        }
    }

    .hero-body {
        padding-top: 7em;
        padding-bottom: 9em;
    }
}

.text-primary {
    color: $clr-title !important;
}

.text-success {
    color: #28C93F !important;
}

// main
.main {}

.info {
    margin-top: -6em;

    // transform: translateY(-6em);
    // height: calc(100% - 6em);
    .col>.card,
    .col-12>.card {
        padding: 2.5em 3em 3em;
        // background-color: #242424;
        background-color: #fff;
        // color: #fff;
        color: #242424;
        border: 1px transparent !important;
        border-radius: $rad;
        margin-bottom: 1em;
        // box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.05), 0 5px 15px 0 rgba(37, 44, 97, 0.075);
        box-shadow: 0 2px 4px 0 rgba(136,144,195,.2), 0 5px 15px 0 rgba(37,44,97,.15);
        transition: box-shadow 700ms, transform 700ms;;

        >.card-body {
            // display: flex;
            padding: 0;
        }
        &:hover {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
            box-shadow: 4px 4px 6px 0 rgba(136,144,195,.4), 4px 10px 20px 0 rgba(37,44,97,.3);
        }
    }
}

.info-text {
    position: relative;

    .info-text-title {
        font-family: "Circular Std Bold", sans-serif;
        margin-top: .75em;
        margin-bottom: 0;
        height: 1.125em;
        font-weight: 700;
    }

    .info-text-desc {
        line-height: 1.5;
        font-size: .875em;
    }

    .info-text-badge {
        font-size: .875em;
        white-space: nowrap;
        display: inline;
        position: absolute;
        left: 20%;
        top: 20%;
        line-height: 0;
        transform: translateY(-60%);

        ion-icon {
            vertical-align: sub;
        }

        i {
            margin-right: -.375em;
            transform: translateY(.875rem);
            font-size: 2.25rem;
        }
    }
}

//orderan
.orderan {
    padding-bottom: .5em !important;

    .info-text {
        .info-text-title {
            min-width: 5em;
        }
    }

    .card-body {
        flex-wrap: wrap;
    }

    .info-content {
        position: relative;
        height: 15em;
        width: 100%;
        padding-top: 1em;
    }
}

.orderan-chart {
    margin-left: -.325em;
}


// produk
.produk {
    .info-content {
        position: relative;

        .vertical-text {
            position: absolute;
            right: 100%;
            // margin-right: .5em;
            padding-right: 1.25rem;
            letter-spacing: 1px;
            top: 50%;
            transform: rotate(180deg) translateY(50%);
        }
    }
}

.produk-wrap {
    margin-right: 2em;
    margin-left: 2em;

    .produk-item:hover .card-body {
        opacity: 1;
    }

    .produk-item {
        &:focus {
            outline: 0;
        }

        padding: 0 !important;
        // min-width: 8.5em;
        width: 100% !important;
        flex: 0 1 auto !important;
        // margin: 0 .5em .5em;
        margin-bottom: 0 !important;
        overflow: hidden;
        border: 0 !important;
        background: rgba(#fff, .125) !important;

        .card-img-top {
            padding-bottom: 120%;
            background-size: cover;
            background-position: center;
        }

        .card-body {
            padding: 1rem !important;
            top: 0;
            left: 0;
            display: flex;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba($clr-title, .8);
            transition: all 275ms ease-out;

            .card-title {
                font-size: .85em;
                margin: 0;
            }
        }
    }

    .slick-track {
        justify-content: center;
    }
}

.city-carousel {
    width: auto;
    background: #fff;
    color: #2F69FF;
    padding: .25rem;
    max-width: 8rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1f1f1f;

    .carousel-item {
        font-size: .75rem !important;
        font-weight: 700 !important;

        span {
            white-space: nowrap;
        }
    }
}

.customer,
.reseller,
.diskon,
.ongkir,
.omzet,
.category,
.profit {
    cursor: pointer;
    min-height: 287px;
    background-repeat: no-repeat;
    background-origin: border-box;
    span, h1, h2, h3, h4, h5, h6, p, a, small {
        cursor: initial;
    } 
}

.customer {
    background-image: url('../img/2019/customer.svg'),
        // url(../img/6.svg), 
        linear-gradient(-175deg, rgb(255, 203, 69) 0%, rgb(255, 155, 33) 100%) !important;
    background-position: //center calc(100% + 5px),
        // calc(100% - 100px) center,
        // calc(100% - 15px) calc(100% + 118px),
        calc(100% + 1em) calc(100% - .5em),
        center center;
    background-size: 46%,
        // 12%, 
        cover;
}

.reseller {
    background-image: url('../img/2019/reseller-left.svg'),
        url('../img/2019/reseller-right.svg'),
        linear-gradient(-170deg, rgb(84, 152, 255) 0%, rgb(42, 95, 255) 100%) !important;
    background-position: //2em bottom, 
        6% calc(100% - .5em),
        calc(100% - .5em) calc(100% - .5em),
        center center;
    background-size: 28%,
        40%,
        cover;
}

.diskon {
    background-image: url('../img/2019/diskon.svg'),
        linear-gradient(-170deg, rgb(255, 152, 120) 0%, rgb(211, 109, 68) 100%) !important;
    background-position: 88% calc(100% - .75em), center center;
    // background-color: rgb(36, 36, 36) !important;
    background-size: 30%, 100%;
}

.ongkir {
    background-image: url('../img/2019/ongkir.svg'),
        linear-gradient(-170deg, rgb(138, 241, 185) 0%, rgb(82, 222, 131) 100%) !important;
    background-position: calc(100% - 2em) calc(100% - .5em), center;
    background-size: 47%, cover;
}

.omzet {
    background-image: url('../img/2019/omzet-left.svg'),
        url('../img/2019/omzet-right.svg'),
        linear-gradient(-170deg, rgb(138, 95, 187) 0%, rgb(160, 79, 197) 100%) !important;
    background-position: -1em calc(100% - .5em), calc(100% - .875em) calc(100% - .75em), center center;
    background-size: 27%, 32%, cover;
}

.category {
    background-image: url('../img/2019/category.svg'),
        linear-gradient(-170deg, rgb(75, 224, 235) 0%, rgb(33, 183, 209) 100%) !important;
    background-position: calc(100% - 2em) calc(100% - .5em), center;
    background-size: 50%, cover;
}

.profit {
    background-image: url('../img/2019/profit-left.svg'),
        url('../img/2019/profit-right.svg'),
        linear-gradient(-170deg, #F45C43 0%, #dd3c2d 100%) !important;
    background-position: 1em calc(100% - .5em), calc(100% - .875em) calc(100% - .75em), center center;
    background-size: 27%, 27%, cover;
}

.year-logo {
	max-width: 80%;
}

.reseller-wrap {
    margin-right: .5em;
    margin-left: .5em;

    .reseller-item,
    .card-body {
        outline: 0;
    }

    .card-img-top {
        // width: 100px;
        // height: 100px;
        border-radius: 50% !important;
        margin: 0 auto;
    }

    .reseller-item:hover .card-body {
        opacity: 1;
    }

    .reseller-item {
        // min-width: 8.5em;
        width: 100% !important;
        max-width: 8.5em;
        flex: 0 1 auto !important;
        background: transparent !important;
        position: relative;
        margin: 0 .5em .5em;
        border: 0;

        .badge-best-seller {
            position: absolute;
            width: 100%;
            z-index: 1;
            top: -1.5em;
            text-align: center;

            img {
                margin: 0 auto;
                width: 4em;
            }
        }

        .card-img-top {
            height: 100%;
        }

        .card-body {
            top: 0;
            left: 0;
            display: flex;
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba($clr-secondary, .8);
            transition: all 275ms ease-out;
            border-radius: 50% !important;

            .card-title {
                font-size: 1em;
                margin: 0;
            }

            .card-title {
                font-size: 1em;
                margin: 0;
            }
        }
    }

    .slick-list {
        margin-top: -1em;
    }

    .slick-track {
        justify-content: center;
        margin-top: 2em;
    }
}

.reseller-item,
.produk-item {
    cursor: pointer;
}

.vertical-text {
    writing-mode: vertical-rl;
}

.bg-default,
.bg-body {
    background: #313131;
}

.slick-track {
    width: 100% !important;
    display: flex !important;
}

.slick-slide {
    height: auto;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: $rad;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: .625em;
    height: .625em;
    margin-right: .625em;
}

// footer
.footer {
    .footer-top {
        margin-top: -5em;
        padding-top: 5em;
        padding-bottom: 3em;
        // background: linear-gradient(-175deg, #FFCB45 0%, #FF9B21 100%);
        // background: linear-gradient(-170deg, #5498FF 0%, #2A5FFF 100%);
        // background: linear-gradient(-170deg, #1f1f1f 0%, #1f1f1f 100%);

    }

    .footer-bottom {
        padding-top: 5em;
        padding-bottom: 6em;
        background-color: #242424;
        // background-color: #F0F4F7;
    }

    .footer-logo {
        width: 8em;
    }
}

.year-text {
    .year-text-title {}

    .year-text-desc {
        font-size: 1.25em;
        margin-left: .125em;
        line-height: 1;
        // position: absolute;
        // bottom: 30%;
        // right: 29%;
        // font-weight: 700;
        // font-size: .75rem;
    }
}

.tilt {
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(62.5em);
}

.tilt-inner {
    transform: translateZ(1.25em);
}
