@media screen and (min-width: 2560px) {
	html,
	body{
		font-size: 40px;
	}
}

@media screen and (min-width: 1440px) {
	html,
	body{
		font-size: 24px;
	}
	.customer,
	.reseller,
	.diskon,
	.ongkir,
	.omzet,
	.category,
	.profit{
		min-height: 13em;
	}
	.reseller{
		background-size: 11em, 15em, cover;
	}
	.diskon{
		background-size: 12em, cover;
	}
	.ongkir{
		background-size: 19em, cover;
	}
	.omzet{
		background-size: 11em, 12em, cover;
	}
	.profit{
		background-size: 10em, 10em, cover;
	}
}

@media screen and (max-width: 1024px) {
	.customer,
	.reseller,
	.diskon,
	.ongkir,
	.omzet,
	.category,
	.profit {
		min-height: 10em;
		background-repeat: no-repeat;
		background-origin: border-box;
	}
	.customer {
		padding: 0 3em 3em !important;
	}

}

@media screen and (max-width: 768px) {
	.info{
		.col > .card,
		.col-12 > .card{
			padding: 1.5em 2em 2.5em;
			> .card-body.d-flex{
				flex-direction: row;
				flex-wrap: wrap;
				.info-text,
				.info-content{
					width: 100%;
				}
				.info-text{
					margin-right: 0 !important;
					width: 100%;
					text-align: center;
				}
				.info-content{
					margin: 0;
				}
			}
		}
	}
	.customer{
		padding: 0 3em 3em !important;
		min-height: 24em;
		// background-size: 90%, 15%, cover;
		background-size: 80%, cover;
		background-position: center calc(100% + 5px), 
		// calc(100% - 60px) 30%, 
		center center;
	}
	.reseller{
		min-height: 24em;
		background-size: 13.5em, 20em, cover;
	}
	.diskon{
		min-height: 21em;
		background-size: 55%, cover;
	}
	.ongkir{
		min-height: 20em;
		background-size: 24em, cover;
	}
	.omzet{
		min-height: 21em;
		// background-position: 2em bottom, calc(100% - 2em) calc(100% - 3em), center center;
		background-size: 43%, 46%, cover;
	}
	.category {
		min-height: 21em;
		background-size: 65%, cover;
	}
	.profit {
		min-height: 22em;
		background-size: 41%, 42%, cover;
	}
	.produk-wrap{
		.produk-item{
			min-width: 100%
		}
	}
	.reseller-wrap{
		.reseller-item{
			min-width: 100%;
			max-width: 100%;
		}
	}

	.footer-top{
		padding-top: 6em !important;
	}
	.info-text{
		.info-text-desc{
			margin-bottom: 0;
		}
		.info-text-badge{
			position: static;
			margin-bottom: .5em;
		}
	}

	.year-logo {
		max-width: 90%;
	}

}

@media screen and (max-width: 480px) {
	.reseller{
		min-height: 18em;
		background-size: 9em, 15em, cover;
	}
	.orderan .info-content {
		height: 10em;
	}
	.customer{
		min-height: 21em;
	}
	.diskon{
		min-height: 18em;
		// background-size: 350%, 10em;
	}
	.ongkir{
		min-height: 16em;
		background-size: 18em, cover;
	}
	.omzet{
		min-height: 17em;
		// background-position: 2em bottom, calc(100% - 1em) calc(100% - 2em), center center;
		background-size: 40%, 46%, cover;
	}
	.category{
		min-height: 16em;
		background-position: calc(100% + 1.5em) calc(100% - .5em), center center;
		background-size: 64%, cover;
	}
	.profit{
		min-height: 17em;
		// background-position: 2em bottom, calc(100% - 1em) calc(100% - 2em), center center;
		background-size: 39%, 40%, cover;
	}

	.year-logo {
		max-width: 100%;
	}

}
@media screen and (max-width: 320px) {
	.orderan .info-content {
		height: 8em;
	}
	.customer,
	.reseller,
	.diskon,
	.ongkir,
	.omzet,
	.category,
	.profit {
		min-height: 16em;
	}
	.customer {
		background-position: center 100%, 
		//calc(100% - 30px) 40%,
		 center center;
	}
	.reseller {
		background-size: 7em, 11em, cover;
	}
	.diskon {
		background-size: 52%, cover;
	}
	.ongkir {
		background-size: 75%, cover;
	}
	.omzet {
		// background-position: 2em bottom, calc(100% - 1em) calc(100% - 2em), center center;
		background-size: 42%, 46%, cover;
	}
	.category {
		// background-position: 2em bottom, calc(100% - 1em) calc(100% - 2em), center center;
		background-size: 84%, cover;
	}
	.profit {
		// background-position: 2em bottom, calc(100% - 1em) calc(100% - 2em), center center;
		background-size: 41%, 41%, cover;
	}
}