.share-icon-title{
    font-size: 1.5rem;           
}

.share-icon-wrap{
    z-index: 9;
    padding: .5rem .75rem;
    // background-color: #fff;
    // border-radius: .5rem;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    a, button{  
        display: contents;
        text-decoration: none;
    }
    button{
        cursor: pointer;
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
        outline: 0 !important;        
    }
    ion-icon,
    img{
        // border-radius: .25rem;
        border-radius: 50%;
        margin-right: .375rem;
        margin-bottom: .375rem;
    }
    ion-icon{
        color: #fff;
        padding: .5rem;
        height: 1.25rem;
        width: 1.25rem;
    }
    img{
        padding: .25em;
        width: 2.25rem;
        height: auto;
        line-height: 0;
    }
    a:last-child ion-icon,
    a:last-child img{
        margin-right: 0;
    }
    
}

.mobile-hide{
    display: static !important;
}
.mobile-show{
    display: none !important;
}

.bg-fb, 
.bg-tw, 
.bg-ln, 
.bg-gp, 
.bg-wa, 
.bg-tg, 
.bg-mail, 
.bg-sms, 
.bg-link, 
.bg-o{
    transition: all 200ms;
    // background-color: $clr-secondary;
    // &:hover{
    //     background-color: darken($clr-secondary, 10%);
    // }
}
.bg-fb{
    background-color: #3b5998;
    &:hover{
        background-color: #2d4373;
    }
}
.bg-tw{
    background-color: #00aced;
    &:hover{
        background-color: #0087ba;
    }
}
.bg-ln{
    background-color: #00C300;
    &:hover{
        background-color: darken(#00C300, 10%);
    }
}
.bg-gp{
    background-color: #dd4b39;
    &:hover{
        background-color: #c23321;
    }
}
.bg-wa{
    background-color: #20b038;
    &:hover{
        background-color: darken(#20b038, 10%);
    }
}
.bg-tg{
    background-color: #0088cc;
    &:hover{
        background-color: darken(#0088cc, 10%);
    }
}
.bg-mail{
    background-color: darken(#dd4b39, 10%);
    &:hover{
        background-color: darken(#dd4b39, 20%);
    }
}
.bg-sms{
    background-color: #555;
    &:hover{
        background-color: #333;
    }
}
.bg-link{
    background-color: #FF8C00;
    &:hover{
        background-color: darken(#FF8C00, 10%);
    }
}
.bg-o{
    background-color: #000;
    &:hover{
        background-color: #0087ba;
    }
}
@media screen and (max-width: 480px) {
    .mobile-hide{
        display: none;
    }
    .mobile-show{
        display: static;
    }
}